<a class="art" href="{{ article.get_absolute_url }}">
    <div class="aimg" style="{% if article.cover_image %}background-image:url('{{ article.cover_image.url }}'){% else %}background-image:linear-gradient(150deg,#2a1622,#7a3d5a){% endif %}"></div>
    <div class="ainfo">
        <div class="acat">{% if article.category %}{{ article.category.name }}{% else %}Lifestyle{% endif %}</div>
        <h4>{{ article.title }}</h4>
        <div class="meta">{% if article.published_at %}{{ article.published_at|date:"j E Y" }}{% else %}Wkrótce{% endif %}</div>
    </div>
</a>
